

/* 576 */
@media screen and (max-width: 576px) {
  /* navbar responsive styles here */
  .navbar ul {
    display: none;
  }
  .navbar .menu-bar {
    display: block;
  }
  /* banner responsive styles here */
  .banner-section {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .banner-content {
    margin-bottom: 50px;
  }
  .banner-img .img-two {
      top: 258px;
      right: 78px;
  }
  /* shopping section responsive here  */
  .dress-items-container {
    grid-template-columns: 1fr;
  }
  .dress-item {
    margin: 0 auto;
  }
  .dress-img img {
    border: none;
}
  .dress-content-title {
    font-size: 2rem;
    text-align: center;
}
/* find and free section responsive here */
.find-and-free-section {
  flex-direction: column-reverse;
  gap:50px
}
.find-and-img {
  border: none;
}
.find-and-free-items {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-content {
  text-align: center;
}
.item-icon img {
  border: none;
}
}

/* 425 */
@media screen and (max-width: 426px) {
  .banner-img .img-two {
    top: 220px !important;
    right: 3px !important;
}
.banner-content .banner-content-title {
  font-size: 3rem !important;
}
.banner-content .banner-content-title span {
  font-size: 3rem !important;
}

}

/* 376 */
@media screen and (max-width: 376px) {
  .banner-img .img-two {
    top: 272px !important;
    right: -20px !important;
}
}