@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  margin: 0;
  padding: 0;
}
/* shared styles here  */
.shared-btn {
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgb(164, 188, 70),
    rgb(133, 160, 25) 100%
  );
  color: rgb(255, 255, 255);
  padding: 20px 30px;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}
/* header styles here */
#header-section {
  background: rgb(255, 251, 240);
}
.max-width-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 0 50px 0;
}
/* navbar styles here  */
.navbar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  width: 225px;
}
.navbar .logo img {
  width: 100%;
  height: 100%;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
.navbar .menu-bar {
  font-size: 1.5rem;
  display: none;
}
/* banner section styles here  */
.banner-section {
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-content .banner-content-title {
  font-size: 4rem;
  font-weight: 700;
  color: rgb(250, 190, 76);
}
.banner-content .banner-content-title span {
  color: rgb(54, 57, 88);
  font-size: 4rem;
}
.banner-content .banner-content-description {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(62, 62, 62);
  margin: 15px 0;
}
.banner-img .img-one {
  width: 400px;
  position: relative;
}
.banner-img .img-two {
  width: 400px;
  position: absolute;
  top: -68px;
  right: 114px;
}
/* main section styles here  */
main {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* dress section styles */
.dress-section {
  width: 90%;
  margin: 0 auto;
}
.dress-content-title {
  color: rgb(54, 57, 88);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.dress-items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.dress-img {
  width: 334px;
  height: 327px;
  border-radius: 20px;
  background: rgb(241, 241, 241);
  padding: 40px;
}
.dress-img img {
  width: 100%;
  height: 100%;
  border: 2px dashed rgb(211, 206, 206);
  padding: 10px;
}
.dress-item-content {
  width: 334px;
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  background: rgb(255, 255, 255);
}
.dress-item-content .item-title {
  color: rgb(54, 57, 88);
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
}
.dress-item-content .item-description {
  color: rgb(62, 62, 62);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.btn-and-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.btn-and-rate span {
  color: rgb(250, 190, 76);
  font-size: 2rem;
  font-weight: 900;
}
.both-container-divided {
  margin-top: 50px;
}
/* find and free section styles here  */
.find-and-free-section {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.find-and-free-items {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}
.item-icon {
  width: 78px;
  height: 82px;
}
.item-icon img {
  width: 100%;
  height: 100%;
  border: 2px dashed rgb(211, 206, 206);
}
.item-content .item-title {
  color: rgb(54, 57, 88);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.item-content .item-description {
  color: rgb(62, 62, 62);
  font-size: 1rem;
  font-weight: 400;
}
.find-and-img {
  max-width: 500px;
  border: 2px dashed rgb(211, 206, 206);
}
.find-and-img img {
  width: 100%;
  height: 100%;
}
